<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.charge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCEPT_NETWORK_STATE " />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charge"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".edit.write_blog"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".signup.Register"
            android:exported="false"
            android:parentActivityName=".login.LoginActivity" />
        <activity
            android:name=".Home2"
            android:exported="false" />
        <activity
            android:name=".Home1"
            android:exported="false" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".changemail.change_mail"
            android:exported="false" />
        <activity
            android:name=".BottomBar.BottomBar"
            android:exported="false" />
        <activity
            android:name=".uses_head"
            android:exported="false" />
        <activity
            android:name=".LoopView"
            android:exported="false" />
        <activity
            android:name=".resetpassword"
            android:exported="false" />
        <activity
            android:name=".First"
            android:exported="false" />
        <activity
            android:name=".maininterface"
            android:exported="false" />
        <activity
            android:name=".calendar"
            android:exported="false" />
    </application>

</manifest>